* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 215px;
  height: 228px;
  user-select: none;
  -webkit-app-region: drag;
  border-radius: 20px;
  margin: 0;
  background: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 13.375rem;
  padding: 1rem 1.0625rem;

  background-image: url("./assets/images/outer-frame-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {

    display: flex;
    width: 157px;
    aspect-ratio: 157/27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 1px solid #C079FF;
    background: rgba(210, 164, 255, 0.40);

    color: var(--white, #FFF);

    /* text styling */
    font-family: "Pixelify Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05rem;

}

#calendar { 
    display: flex;
    width: 11.25rem;
    height: 10.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-image: url("./assets/images/inner-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

#day {
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: var(--mid-purple, #B58CD9);
    font-family: "Pixeboy";
    font-size: 8.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.4rem;

    display: flex;

    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#month {

    color: #FFF;
    text-align: center;
    text-shadow: 
    -2px -2px 0 #B58CD9, /* top-left */ 
    2px -2px 0 #B58CD9, /* top-right */ 
    -2px 2px 0 #B58CD9, /* bottom-left */ 
    2px 2px 0 #B58CD9; /* bottom-right */ 
    font-family:"Pixeboy";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    letter-spacing: 0.3rem;

    width: 8.125rem;

}

@font-face { 

  font-family: "Pixeboy"; 
  src: url("./assets/fonts/Pixeboy.ttf") 
  format("truetype"); 
  font-weight: normal; 
  font-style: normal; 

}